<%= form_for(@membership) do |f| %>
    <% if @membership.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

          <ul>
            <% @membership.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @beer_clubs.empty? %>

        <p>There are no beer clubs that you could join. Create a club first.</p>

    <% else %>

        <div class="field">
          <%= f.label "Select a beer club to join" %>
          <%= f.select :beer_club_id,
                       options_from_collection_for_select(@beer_clubs, :id, :name), class:"form-control" %>
        </div>

        <div class="actions">
          <%= f.submit class:"btn btn-primary"%>
        </div>


    <% end %>


<% end %>
