<p id="notice"><%= notice %></p>

<p>
  <strong><%= @user.username %></strong>

  <p><%= "has made #{@user.ratings.count} ratings with an average rating of #{@user.average_rating}" %> </p>

<p><strong>Ratings</strong></p>
<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: {confirm:"Are you sure?"} %>
        <%end%>
      </li>

  <% end %>
</ul>

<p><strong>Beer Club Memberships</strong></p>

<%unless @user.memberships.empty? %>
    <ul>
      <%@user.memberships.each do |membership| %>
      <li><%=link_to membership.beer_club.name, membership.beer_club %></li>
      <% end %>
    </ul>

<%else%>
    No club memberships
<%end%>

</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
