<h2>Create New Rating</h2>

<%= form_for(@rating) do |form| %>

    <% if @rating.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rating.errors.count, "error") %> prohibited rating from being save: </h2>

          <ul>
            <% @rating.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="col-xs-3">
          <%= form.select :beer_id, options_from_collection_for_select(@beers, :id, :to_s, selected: @rating.beer_id), class:'form-control' %>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        Score: <%= form.number_field :score, class:'form-control' %>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-xs-3">
        <%= form.submit class:'btn btn-primary' %>
      </div>
    </div>

<% end %>
