<h1>Listing breweries</h1>

<table>
  <thead>
  <tr>
    <th> <%= link_to 'Name', breweries_path(order:"name") %></th>
    <th> <%= link_to 'Year', breweries_path(order:"year") %></th>
    <th> Number of Beers</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @breweries.each do |brewery| %>
      <tr>
        <td><h2><%= link_to "#{brewery.name}", brewery %></h2></td>
        <td><i>Established in <%= brewery.year %></i></td>
        <td align="center"><%= brewery.beers.count %></td>
        <td><%= link_to 'Edit', edit_brewery_path(brewery) %></td>
        <td><%= link_to 'Destroy', brewery, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<p> Number of breweries: <%= @breweries.count %></p>
<br>

<%= link_to 'New Brewery', new_brewery_path if current_user%>
<p><%= link_to 'List of Beers', beers_path %></p>

