<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<p>
  <i>Established year:</i>
  <%= @brewery.year %>
</p>
<p>
<ul>
  <% @brewery.beers.each do |beer| %>
      <li><%= link_to "#{beer.name}", beer %></li>
  <% end %>
</ul>
</p>

<% if !@brewery.ratings.empty? %>
    <p><%= "#{@brewery.name} has been rated #{pluralize(@brewery.ratings.count, 'time')} with an average rating of #{@brewery.average_rating}" %></p>
<% else %>
    <p><%= "#{@brewery.name} does not yet have rated beers" %></p>
<% end %>

<%= link_to 'Edit', edit_brewery_path(@brewery) %>
