<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= link_to "#{@beer.brewery.name}", @beer.brewery %>
</p>

<% if @beer.ratings.empty? %>
    <p>This beer has not yet been rated</p>
<% else %>
    <p>This beer has been rated <%= pluralize(@beer.ratings.count, "time") %> with an average score of <%= @beer.average_rating %></p>
<% end %>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
