<p id="notice"><%= notice %></p>

<h2> <%= @beer %> </h2>

<p>
  <strong>Style:</strong>
  <%= @beer.style.name %>
</p>

<% if @beer.ratings.empty? %>
    <p>This beer has not yet been rated</p>
<% else %>
    <p>This beer has been rated <%= pluralize(@beer.ratings.count, "time") %> with an average score
      of <%= @beer.average_rating %></p>
<% end %>

<div class="form-group">
  <%= form_for(@rating) do |f| %>
      <%= f.hidden_field :beer_id %>

      <div class="row">
        <div class="col-xs-3">
          <%= f.label :score %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <%= f.number_field :score, class:'form-control'%>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <%= f.submit class:'btn btn-primary' %>
        </div>
      </div>
  <% end %>


</div>


<%= link_to 'Edit', edit_beer_path(@beer), class:'btn btn-primary' %> |
<%= link_to 'Back', beers_path %>
