<p id="notice"><%= notice %></p>

<h2> <%= @beer %> </h2>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<% if @beer.ratings.empty? %>
    <p>This beer has not yet been rated</p>
<% else %>
    <p>This beer has been rated <%= pluralize(@beer.ratings.count, "time") %> with an average score
      of <%= @beer.average_rating %></p>
<% end %>

<%= form_for(@rating) do |f| %>
    <%= f.hidden_field :beer_id %>
    <%= f.label :score %>
    <%= f.number_field :score%>
    <%= f.submit %>
<% end %>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
