<!DOCTYPE html>
<html>
<head>
  <title>Ratebeer</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navibar">
  <%= link_to "Breweries", breweries_path %>
  <%= link_to "Beers", beers_path %>
  <%= link_to "Ratings", ratings_path %>
  <%= link_to "Users", users_path %>
  <%= link_to "Beer Clubs", beer_clubs_path %>
  <%= link_to "Beer Places", places_path %>
  <%= link_to "Styles", styles_path %>

  <%= "|" %>

  <% if current_user.nil? %>

      <%= link_to "Sign In", signin_path %>
      <%= link_to "Create New Account", signup_path %>

  <% else %>
      <%= link_to current_user.username, user_path(current_user) %>
      <%= link_to "Rate a Beer", new_rating_path %>
      <%= link_to "Join a Club", new_membership_path %>
      <%= link_to "Sign Out", signout_path, method: :delete %>

  <% end %>


</div>



<%= yield %>

</body>
</html>
